$colorSuccess: #33bb33;
$colorError: red;
$colorPrimary: #0d6efd;
$colorLight: #f8f9fa;
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background: #70bg32; */
  background-repeat: no-repeat;
  background: radial-gradient(#7baafd 10%, #2362d1 100%);
}

@mixin buttonStyle($color) {
  &.disabled,
  &:disabled {
    background: $color;
    border-color: $color;
    opacity: 0.5;
  }

  &:focus {
    box-shadow: 0 0 3pt 2pt lighten($color, 20);
  }

  border: 0;
  background-size: 100%;
  background-image: linear-gradient(
    -225deg,
    darken($color, 5),
    lighten($color, 10)
  );
  position: relative;
  z-index: 0;

  &:before {
    border-radius: inherit;
    background-image: linear-gradient(
      -45deg,
      darken($color, 5),
      lighten($color, 10)
    );
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -1;
    transition: opacity 0.4s ease-in-out;
  }

  &:hover:before {
    opacity: 1;
  }
}

.bg-success {
  background-color: $colorSuccess !important;
}

.btn.btn-success {
  @include buttonStyle($colorSuccess);
}

.btn.btn-light {
  @include buttonStyle($colorLight);
}

.btn.btn-error {
  color: #fff;
  @include buttonStyle($colorError);
}

nav {
  border-bottom: 1px solid #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 10px;
  background-color: #fff;
  min-height: 300px;
}

.navbar {
  background: none;
}
